<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature"	alt="">
        <!-- <img [src]="destino.imagenUrl"	alt=""> -->     
        
        <span><h4>{{ position}}</h4></span>         
    </div>
    <div class="card-desc">
        <h3>{{ destino.nombre }}</h3>
        <p>Servicios</p>
        <ul>
            <li *ngFor="let s of destino.servicios">
                <span [ngSwitch]="s">
                    <i *ngSwitchCase="'Desayuno'" style="color:red">{{s}}</i> <!-- El uso de los dos tipos de comillas hace que se trate de un un valor constante-->                    
                    <i *ngSwitchDefault>{{s}}</i>
                </span>
            </li>
        </ul>
        
        <a href="#" (click)="voteUp()"><i class="material-icons">thumb_up</i></a>
        <a href="#" (click)="voteDown()"><i class="material-icons">thumb_down</i></a>
        {{destino.votes}}

        <a href="#" class="btn-card" (click)="ir()" appTrackearClick data-trackear-tags="destino_elegir_preferido lista_destinos_item">IR!</a>
        <!-- <span [style.display]="destino.isSelected() ? '':'none'">-  FAVORITO  -</span> -->
        <span *ngIf="destino.isSelected()">
            <span ngNonBindable> {{ FAVORITO }}   </span>
        </span>
        <a [routerLink]="['/destino',destino.id]">Ver!</a> 
        
    </div>
</div>
